*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 123px;
    background-color:#8A1315;
   
}

.menuDesktop ul{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
    
}
.menuDesktop li {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 13px;
    cursor: pointer;
}
.liLogo{

}
.liTexto{
    margin-top: 80px;
}

.menuMobile{
    display: none;
}
.menuMobile{
    color: black;
}

.icone{
    width: 40px;
    height: 40px;
  
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

.mm{
    height: 5px;
    background-color: #d3d3d3;
    margin-top: 4px;
}
.showBar{
    opacity: 1 !important;
}
#dispositivo{
    display: none;
}
/* fim itens header */

.sectionBanner{
    background-image: url('../assets/bannerorigin.png');
    background-repeat: no-repeat;
    height:520px;
    width: 100%;
}

.redBanner{
    color:#8A1315;
}

.btnBanner{
    width: 120px;
    height: 40px;
    background-color: #8A1315;
    color: #ffffff;
    padding: 10px;
    margin-left: -210px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #FFE104;
}

.pBanner{
    width: 329px;
    height: 49px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: justify;
   justify-content: center;
   margin: 150px;
}

.h1banner{
    margin-left:-170px ;
}

/*banner black*/
.section-black{
    width: 100%;
    height:160vh;
    background-color: black;
}

.conteudos{
    display: flex;
    max-width: 1240px;
    margin: auto;
   
}
.ladoEsquerdo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.ladoDireito{
    width: 50%;
 
}
.tituloDoces{
    font-size: 36px;
    font-weight: 400;
    color:#ffffff;
    
}

.docesP{
    width: 400px;
    color: #Ffffff;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btnDoces{
    width: 154px;
    height: 40px;
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.retangulo{
    width: 404px;
    height: 316px;
    background-color: #eeeeee;
    border-radius: 20px;
    margin-top: -280px;
    margin-left: 50px;
}

.retanguloRed{
    width: 673px;
    height: 245px;
    background-color: 
    #8A1315;
    border: 2px solid #FFE104;
    border-radius: 20px;
    margin: auto;
    margin-top: -170px;
}
.escolha{
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin-top: 20px;
}

.escolhaRetangulo{
    color: #Ffffff;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}


@media (min-width:450px) and (max-width:800px) {

    .menuDesktop{
        display: none;
    }
    .menuMobile{
        display:flex;
       text-align: center;
       flex-direction: column;
       
    }
    .menuMobile li {
        margin-top: 10px;
      
        transition:1s;
    }
    .icone{
       margin-left:315px;
        cursor: pointer;
        margin-top: -67px;
   
    }
   .logoMobile{
    margin-left: -240px;
    margin-top: 10px;
   }

   .conteudos{
       flex-direction: column;
   }


   

   
}

@media (max-width:450px) {
    .menuDesktop{
        display: none;
    }
    .menuMobile{
        display:flex;
       text-align: center;
       flex-direction: column;
       
    }
    .menuMobile li {
        margin-top: 10px;
      
        transition:1s;
    }
    .icone{
       margin-left:315px;
        cursor: pointer;
        margin-top: -67px;
   
    }

   .logoMobile{
    margin-left: -240px;
    margin-top: 10px;

   }
   
   .conteudos{
       flex-direction: column;

   }

   .fotoDoce{
       width: 289px;
       margin-top: 50px;

   }
   .retangulo{
       width:289px;
       height: 230px;
       margin-top: -200px;
      
   }
   .docesP{
       width: 270px;
          
   }
   .ladoEsquerdo{
       margin-right: 45px;
       width: 100%;

   }
   .ladoDireito{
       margin-left: 20px;

   }

 .retanguloRed{
    width: 350px;
}

.escolhaRetangulo{
    width: 300px;
}
   
   
   }

@media (max-width:280px) {
    .icone{
        margin-left: 230px;
    }
    .logoMobile{
        margin-left: -170px;
    }
    
    .retanguloRed{
        width: 270px;
    }

    .escolhaRetangulo{
        width: 240px;
    }

    .pBanner{
        width: 270px;
    }

    .fotoDoce{
        width: 240px;
        margin-left: -7px;

    }
    .retangulo{
        display: none;
    }

}