*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 123px;
    background-color:#8A1315;
   
}

.menuDesktop ul{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
    
}
.menuDesktop li {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 13px;
    cursor: pointer;
}
.liLogo{

}
.liTexto{
    margin-top: 80px;
}

.menuMobile{
    display: none;
}
.menuMobile{
    color: black;
}

.icone{
    width: 40px;
    height: 40px;
  
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

.mm{
    height: 5px;
    background-color: #d3d3d3;
    margin-top: 4px;
}
.showBar{
    opacity: 1 !important;
}
#dispositivo{
    display: none;
}
/* fim itens header */

.sectionBanner{
    background-image: url('../assets/bannerorigin.png');
    background-repeat: no-repeat;
    height:520px;
    width: 100%;
}

.redBanner{
    color:#8A1315;
}

.btnBanner{
    width: 120px;
    height: 40px;
    background-color: #8A1315;
    color: #ffffff;
    padding: 10px;
    margin-left: -210px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #FFE104;
}

.pBanner{
    width: 329px;
    height: 49px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: justify;
   justify-content: center;
   margin: 150px;
}

.h1banner{
    margin-left:-170px ;
}

/*banner black*/
.section-black{
    width: 100%;
    height: 600px;
    background-color: black;
}



@media (min-width:450px) and (max-width:800px) {

    .menuDesktop{
        display: none;
    }
    .menuMobile{
        display:flex;
       text-align: center;
       flex-direction: column;
       
    }
    .menuMobile li {
        margin-top: 10px;
      
        transition:1s;
    }
    .icone{
       margin-left:315px;
        cursor: pointer;
        margin-top: -67px;
   
    }
   .logoMobile{
    margin-left: -240px;
    margin-top: 10px;
   }
   

   
}

@media (max-width:450px) {
    .menuDesktop{
        display: none;
    }
    .menuMobile{
        display:flex;
       text-align: center;
       flex-direction: column;
       
    }
    .menuMobile li {
        margin-top: 10px;
      
        transition:1s;
    }
    .icone{
       margin-left:315px;
        cursor: pointer;
        margin-top: -67px;
   
    }
   .logoMobile{
    margin-left: -240px;
    margin-top: 10px;
   }
   
   
   
   }

@media (max-width:280px) {
    .icone{
        margin-left: 230px;
    }
    .logoMobile{
        margin-left: -170px;
    }
    

}