*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 123px;
    background-color:#8A1315;
   
}

.container{
    max-width: 1240px;
    margin: auto;
    
}

.menuDesktop ul{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
    
}
.menuDesktop li {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 13px;
    cursor: pointer;
}
.liLogo{

}
.liTexto{
    margin-top: 80px;
}

.menuMobile{
    display: none;
}
.menuMobile{
    color: black;
}

.icone{
    width: 40px;
    height: 40px;
  
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

.mm{
    height: 5px;
    background-color: #d3d3d3;
    margin-top: 4px;
}
.showBar{
    opacity: 1 !important;
}
#dispositivo{
    display: none;
}
/* fim itens header */

.sectionBanner{
    background-image: url('../assets/bannerorigin.png');
    background-repeat: no-repeat;
    height:520px;
    width: 100%;
}

.redBanner{
    color:#8A1315;
}

.btnBanner{
    width: 120px;
    height: 40px;
    background-color: #8A1315;
    color: #ffffff;
    padding: 10px;
    margin-left: -210px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #FFE104;
}

.pBanner{
    width: 329px;
    height: 49px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: justify;
   justify-content: center;
   margin: 150px;
}

.h1banner{
    margin-left:-170px ;
}

/*banner black*/
.section-black{
    width: 100%;
    height:170vh;
    background-color: black;
}

.conteudos{
    display: flex;
    max-width: 1240px;
    margin: auto;
   
}
.ladoEsquerdo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.ladoDireito{
    width: 50%;
 
}
.tituloDoces{
    font-size: 36px;
    font-weight: 400;
    color:#ffffff;
    
}

.docesP{
    width: 400px;
    color: #Ffffff;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btnDoces{
    width: 154px;
    height: 40px;
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.retangulo{
    width: 404px;
    height: 316px;
    background-color: #eeeeee;
    border-radius: 20px;
    margin-top: -280px;
    margin-left: 50px;
    
}

.retanguloRed{
    width: 673px;
    height: 245px;
    background-color: 
    #8A1315;
    border: 2px solid #FFE104;
    border-radius: 20px;
    margin: auto;
    margin-top: -170px;
}
.escolha{
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin-top: 20px;
}

.escolhaRetangulo{
    color: #Ffffff;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}
/* finalizando section black e iniciando section cards*/
.ligth-Cards{
    width: 100%;
    height: 180vh;
    
}

.cardsT{
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.card{
    width: 352px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card1{
    border:2px solid #808080;
    height: 73px;
    margin-top: -6px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

}

.meusCardsLight{
    display: flex;
    flex-wrap: wrap;
}

/*fim da section de cards inicio da seção vermelha*/

.section-Red{
    width: 100%;
    height: 600px;
    background-color: #8A1315;
    margin-top: 350px;
}

.tred{
    font-weight: 400;
    color: #ffffff;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.meuContent{
    display: flex;

}

.historia{
    font-weight: 400;
    color: #ffffff;
}
.paragrafoHistoria{
    margin-top: 20px;
    color: #ffffff;
    line-height: 1.5;
    width: 350px;
}

.textoEsquerda{
    margin-left: 70px;

}

.tracinho{
    width: 100px;
    height: 2px;
    color: #fff;
    background-color: #ffff;
    margin: auto;
    margin-top: -13px;
    margin-bottom: 20px;

}

/*fim da section red iniciou da penultima section */

.informações{
    width: 100%;
    height:300px;
    background-color: #ffffff;
    
}

.tracinhoRed{
    width: 70px;
    height: 2px;
    background-color: #8A1315;
    text-align: center;
    margin-left: 2px;
}

.quem{
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 50px;
}

.info{
    width: 329px;
    height: 100px;
    margin-top: 20px;


}

.listaFooter{
    margin-top: 20px;
    width: 329px;
}

.lis{
    margin-top: 10px;
    
}

.minhasInformacoes{
    display: flex;
    margin-left: 50px;
    
}

.quemSomos{
    margin-left: 30px;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #8A1315;
    

}

.hedaerFooter{
    display: flex;
    justify-content: space-between;
}

.la{
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
   
}

.f{
    font-weight: 400;
    color: #ffffff;
    margin-top: 20px;
}

.linhaDividir{
    width: 100%;
    background-color: #ffffff;
    height: 2px;
    margin-top: 10px;

}

.content{
    width: 500px;
    color: #ffffff;
    font-weight: 400;
    margin: auto;
}


.cContent{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.couteudoFooter{
    margin-bottom: 20px;

}

.copyr{
    text-align: center;
    color: #fff;
}

/*menuMobile*/

nav{
    height: 100%;
    width: 0px;
    background-color: #8A1315;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;

}

nav a{
    color:#ffffff;
    font-size: 15px;
    display: block;
    padding: 12px 10px 12px 32px;

}

nav a:hover{
    color: #ffffff;
    background-color: 	#FFFFFF;
}

a{
    text-decoration: none;
}
/*media para tablets*/

@media (min-width:820px) and (max-width:1180px) {
    .retangulo{
        display: none;
    }
    .section-black{
        height: 940px;
    }
    .ligth-Cards{
        height: 2000px;
    }

    .section-Red{
        height: 900px;
    }
    
    .meusCardsLight{
        align-items: center;
        justify-content: center;
    }

    .fotoRed{
        width: 300px;
    }

    .paragrafoHistoria{
        margin-left: -50px;
        width: 200px;
        
    }
    .minhasInformacoes{
        margin-left: 1px;
    }
    .quemSomos{
        margin-left: 5px;
    }

    #navegue{
        margin-left: 50px;
    }

    .listaFooter{
        width: 200px;
    }

}

/*media para tablets proporção um pouco diferente*/
@media (min-width:768px) and (max-width:1024px) {
    .meusCardsLight{
        flex-direction: row !important;
    }
    .minhasInformacoes{
        flex-direction: row !important;
    }

}

/*surface duo*/
@media (min-width:540px) and (max-width:720px){
    .retanguloRed{
        width: 420px;
        padding: 20px;
    }
    .retangulo{
        display: none;
    }
    .conteudos{
        margin-left: -80px;
    }
    .docesP{
        margin-left: 100px;
    }
    .section-black{
        height: 200vh;
    }
    .section-Red{
        margin-top: 3110px !important;
    }
    #navegue{
        margin-left: -1px !important;
    }
    .fotoRed{
        width: 400px;
    }
    .direitoImg{
        width: 400px;
    }
    .fotoRed{
        width: 400px;
    }
  .informações{
      height: 770px;
  }
  
}




@media (min-width:450px) and (max-width:800px) {

    .menuDesktop{
        display: none;
    }
    .menuMobile{
        display:flex;
       text-align: center;
       flex-direction: column;
       
    }
    .menuMobile li {
        margin-top: 10px;
      
        transition:1s;
    }
    .icone{
       margin-left:315px;
        cursor: pointer;
        margin-top: -67px;
   
    }
   .logoMobile{
    margin-left: -240px;
    margin-top: 10px;
   }

   .conteudos{
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

  

   .meusCardsLight{
       flex-direction: column;
       align-items: center;
   }

   .section-Red{
    margin-top: 500px;
    height: auto;


}
.meuContent{
    flex-direction: column !important;
}

.minhasInformacoes{
    flex-direction: column;
}

.quemSomos{
    margin-left: -5px;
}

.listaFooter{
    width: 150px;
}
#navegue{
    margin-left: 50px;
}

      
}

@media (max-width:450px) {
   
    .miniatura{
        width:270px;
     }
     .card{
         width: 270px;
         margin: auto;
         margin-top: 10px;
         margin-bottom: 10px;
         align-items: center;
         justify-content: center;
         

     }
     .ligth-Cards{
         height: 500px !important;

     }
    
    .listaFooter{
        width: 200px;
    }
    .menuDesktop{
        display: none;
    }
    .menuMobile{
        display:flex;
       text-align: center;
       flex-direction: column;
       
    }
    .menuMobile li {
        margin-top: 10px;
      
        transition:1s;
    }
    .icone{
       margin-left:315px;
        cursor: pointer;
        margin-top: -67px;
   
    }

   .logoMobile{
    margin-left: -240px;
    margin-top: 10px;

   }
   
   .conteudos{
       flex-direction: column;

   }

   .fotoDoce{
       width: 289px;
       margin-top: 50px;

   }
   .retangulo{
       width:289px;
       height: 230px;
       margin-top: -200px;
      
   }
   .docesP{
       width: 270px;
          
   }
   .ladoEsquerdo{
       margin-right: 45px;
       width: 100%;

   }
   .ladoDireito{
       margin-left: 20px;

   }

 .retanguloRed{
    width: 350px;
}

.escolhaRetangulo{
    width: 300px;
}

.section-black{
    height: 1380px;
}
   .meusCardsLight{
       flex-direction: column;
   }

   .section-Red{
    margin-top: 3200px;

}

.meuContent{
    flex-direction: column !important;
}

.textoEsquerda{
    margin-left: 5px;

}
.direitoImg img{
   
    width: 300px;
 
}

.section-Red{
    height: 800px;
}

.minhasInformacoes{
    flex-direction: column;
}

.quemSomos{
    margin-left: -20px;
}

#navegue{
    margin-left: -20px;
}

.informações{
 
    height:730px;
   
    
}

.content{
    width: 300px;
}

.ligth-Cards{
    height: 1190px;
}

   
   }

@media (max-width:280px) {
    .icone{
        margin-left: 230px;
    }
    .logoMobile{
        margin-left: -170px;
    }
    
    .retanguloRed{
        width: 270px;
    }

    .escolhaRetangulo{
        width: 240px;
    }

    .pBanner{
        width: 270px;
        
    }

    .fotoDoce{
        width: 240px;
        margin-left: -7px;

    }
    .retangulo{
        display: none;
    }

    .section-black{
        height: 200vh;
    }

    .meusCardsLight{
        flex-direction: column;
    }

    .section-Red{
        margin-top: 3200px;
        height: 970px;

    }

    .minhasInformacoes{
        flex-direction: column;
    }

    .quemSomos{
        margin-left: 5px;
    }

    .ligth-Cards{
        height: 450px;
    } 
    .pBanner{
        width: 250px;
    }
    .h1banner{
        margin-left: 1px;
        width: 200px;
    }
    .btnBanner{
        margin-top: 10px;
        margin-left: 1px;

    }
    .miniatura{
       width:270px;
    }
    .card{
        width: 270px;
        margin-left: 2px;
    }
    .paragrafoHistoria {
        width: 270px;
        height: 1000px;
    }

    .direitoImg img{
        width: 270px;
    }
    .info{
        width: 230px;
    }
    .lis{
        width:240px;
    }
    .quemSomos{
        margin-left: -30px;
    }
    .listaFooter{
        width: 250px;
    }
    .content{
        width: 270px;
    }
}